{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="bg-secondary p-2">
    <h1>Your details are as below</h1>
  </div>
  <ul>
    <li>Scrips selected: {{session['scrips']}}</li>
    <li>Start Date: {{session['stdt']}}</li>
    <li>End Date: {{session['eddt']}}</li>
    <li>Model Selected: {{session['model']}}</li>
    <li>Risk Model selected: {{session['rm']}}</li>
    <li>Objective function selected: {{session['obj']}}</li>
  </ul>
</div>
<table class="table table-striped">
  <tr>
    {% for header in header_list %}
    <th>{{header}}</th>
    {% endfor %}
  </tr>
  {% for row in stock_data %}
  <tr>
    {% for cell in row %}
    <td>{{cell}}</td>

    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% endblock %}